<h1>HTML entry with layout variables</h1>

<h2>Some root collection entry titles</h2>

<% collections.root.entries.first(3).each.with_index do |entry, index|  %>
  <%= entry.title %> (published: <%= entry.published_at %>, updated: <%= entry.updated_at %>)
<% end %>

<h2>All collection names</h2>

<%= collections.map { |collection| collection.name }.join(", ") %>

<h2>All tag names</h2>

<%= tags.map(&:name).join(", ") %>

<h2>Entries for tag1</h2>

<%= tags.tag1.entries.map { |entry| entry.title }.first(2).join(", ") %>

<h2>This project's settings</h2>

<%= settings %>

<h2>Entry permalinks do not include index.html because of the pretty URI strategy</h2>
<%= entry.permalink %>
