<h1>HTML entry with layout variables</h1>

<h2>Some root collection entry titles</h2>

{% for entry in collections.root.entries limit: 2 -%}
  {% if forloop.first -%}
    {{ entry.title }} (published: {{ entry.published_at }}; updated: {{ entry.updated_at }}),
    <br/>
  {%- else -%}
    {{ entry.title }} (published: {{ entry.published_at }}; updated: {{ entry.updated_at }})
  {%- endif %}

{%- endfor %}

<h2>All collection names</h2>

{% for collection in collections -%}
  {% if forloop.last -%}
    {{ collection.name }}
  {%- else -%}
    {{ collection.name | append: ", " }}
  {%- endif %}
{%- endfor %}

<h2>All tag names</h2>

{% for tag in tags -%}
  {% if forloop.last -%}
    {{ tag.name }}
  {%- else -%}
    {{ tag.name | append: ", " }}
  {%- endif %}
{%- endfor %}

<h2>Entries for tag1</h2>

{% for entry in tags.tag1.entries -%}
  {% if forloop.last -%}
    {{ entry.title }}
  {%- else -%}
    {{ entry.title | append: ", " }}
  {%- endif %}
{%- endfor %}

<h2>This project's settings</h2>

all settings: {{ settings }}
root layout file: {{ settings.layout_file }}
root URI strategy: {{ settings.uri_strategy }}
subdirectory one URI strategy: {{ settings.subdirectory_one.uri_strategy }}
